@import '../../../../sass/container.scss';

.movies {
  text-align: center;
  padding-top: 66px;
  padding-bottom: 35px;
  padding: 65px 25px 35px 25px;
}

.section__title {
  margin-bottom: 35px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.16;
  text-align: center;

  color: #000000;
}

.logoPanorama {
  width: 415px;
  height: 100px;
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .logoPanorama {
    align-self: center;
    width: 667px;
    height: 143px;
  }
  .section__title {
    font-size: 22px;
    margin-bottom: 30px;
  }
}
// .MovieItem + .MovieItem {
//   margin-left: 30px;
// }

// .section__title {
//   margin-bottom: 35px;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 24px;
//   line-height: 1.16;
//   text-align: center;

//   color: #000000;
// }
// .logoPanorama {
//   align-self: center;
//   width: 667px;
//   height: 143px;
// }
