@import '../../../sass/container.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
}
.ava {
  border-radius: 50%;
  border: 2px solid black;
}

.logo {
  margin-right: 0px;
}

.logoLink {
  display: block;
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #52723a;
}

.menuButton {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    color: #b2bf1a;
  }

  &:focus {
    color: #b2bf1a;
  }
}

.close {
  display: none;
}

// media

@media screen and (min-width: 400px) {
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 60px;
  }

  .menuButton {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
}
