.AuthNav {
  display: flex;

  justify-content: space-around;
  align-items: flex-end;
}

.NavLink {
  padding: 10px;
  color: #52723a;
  font-weight: 700;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: #b2bf1a;
  }
}

.NavLinkActive {
  color: #b2bf1a;
}
