@import '../../../sass/container.scss';
.page,
.content {
  display: flex;
  flex-wrap: wrap;
}

.siteBarSection {
  background-color: #bfd7ac;
  padding-top: 15px;
}

.constructorSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
}

@media screen and (min-width: 320px) {
  .siteBarSection,
  .materialsSection,
  .constructorSection {
    width: 100%;
  }
  .text {
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .siteBarSection {
    width: 300px;
  }
  .content {
    width: calc(100% - 300px);
  }
}

@media screen and (min-width: 1200px) {
  .siteBarSection {
    width: 350px;
  }

  .content {
    width: calc(100% - 350px);
  }
  .text {
    width: 280px;
    padding-left: 30px;
    text-align: start;
  }
}
