.nav {
  display: none;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 24px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &:hover {
    color: #b2bf1a;
  }

  &:focus {
    color: #b2bf1a;
  }
}

.active {
  color: #b2bf1a;
}

@media screen and (min-width: 400px) {
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
  }

  .link {
    &:not(:last-child) {
      margin-right: 19px;
    }
  }
}

@media screen and (min-width: 1280px) {
}
